<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; chareset=UTF-8">
    <link type="text/css" href=".style.css" rel="stylesheet">
</head>

<body>
    <div role="main">
        <p><%-content %></p>
        <p>ブラウザを閉じてください。</p>
    </div>
    <script>
        var result = window.confirm('以降、依頼元から同様の情報提供依頼があった場合、nご承認手続きを省略しますか？')
    </script>
</body>
</html>
