<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; chareset=UTF-8">
    <link type="text/css" href=".style.css" rel="stylesheet">
</head>

<body>
    <div role="main">
        <p><%-content %></p>
        <p>Please close browser</p>
    </div>
</body>
</html>
