<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; chareset=UTF-8">
    <title><%=title %></title>
    <link type="text/css" href=".style.css" rel="stylesheet">
</head>

<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <form action="/receipt" method="post">
            <table border="1" style="border-collapse: collapse">
                <tr>
                  <td align="left" width="120" bgcolor="#ccffcc">データ受領日: </td>
                  <td align="left"><input type="date" name="receiptday"></td>
                </tr>
                <tr>
                    <td align="left" width="120" bgcolor="#ccffcc">コメント: </td>
                    <td align="left"><input type="text" name="comment"></td>
                  </tr>
            </table>
            <br>
           <input type="submit" name="receipt" value="受領通知"></p>
        </form>
    </div>
</body>
</html>
