<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; chareset=UTF-8">
    <title><%=title %></title>
    <link type="text/css" href=".style.css" rel="stylesheet">
</head>

<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div role="main">
        <p><%-content %></p>
        <form action="/request" method="post"> 
        <p>(*)は入力必須項目</p>
        <p>提供元(*):<input type="text" name="companyFrom"></p>  
        <p>提供先(*):<input type="text" name="companyTo"></p>
        <p>提供情報(*):<input type="text" name="dataId"></p>
        <p>対象ユーザ(*):<input type="text" name="objectUsr"></p>
        <p>使途:<input type="text" name="purpose"></p>        
        <p><input type="submit" name="send" value="提供依頼"></p>
        </form>
    </div>
</body>
</html>
