<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="content-type"
        content="text/html; chareset=UTF-8">
    <title><%=title %></title>
    <link type="text/css" href=".style.css" rel="stylesheet">
</head>

<body>
    <head>
        <h1><%=title %></h1>
    </head>
    <div class="sample1b">
        <p><%-content %></p>
        <form action="/request" method="post"> 
            <p>(*)は入力必須項目</p>
            <table border="1" style="border-collapse: collapse">
              <tr>
                <td align="left" width="120" bgcolor="#ccffcc">提供元(*) </td>
                <td align="left"><input type="text" name="companyFrom"></td>
              </tr>
              <tr>
                <td align="left" width="120" bgcolor="#ccffcc">提供先(*) </td>
                <td align="left"><input type="text" name="companyTo"></td>
              </tr>        
              <tr>
                <td align="left" width="120" bgcolor="#ccffcc">提供情報(*) </td>
                <td align="left"><input type="text" name="dataAttribute"></td>
              </tr>        
              <tr>
                <td align="left" width="120" bgcolor="#ccffcc">対象ユーザ(*) </td>
                <td align="left"><input type="text" name="objectUser"></td>
              </tr>
              <tr>
                <td align="left" width="120" bgcolor="#ccffcc">使途 </td>
                <td align="left"><input type="text" name="purpose"></td>
              </tr>
            </table>
            <br>
        <p><input type="submit" name="send" value="提供依頼"></p>
        </form>
    </div>
</body>
</html>
